#classify--canvas-area
  position: relative

.canvas
  width: $canvas-width
  height: $canvas-height
  margin: auto
  border: 1px solid black
  z-index: 1

#drawhere
  pointer-events: none
  position: absolute
  left: 0
  top: 0
  width: $single-column-width
  height: $canvas-height
  background: image-url("images/draw_here.png") center no-repeat
  z-index: -1
  opacity: 0
  +transform(scale(0))
  transition: all 0.5s
  .pristine ~ &
    opacity: 1
    +transform(scale(.8))
  .canvas.dirty ~ &
    // not necessary right now

#clear
  position: absolute
  display: inline-block
  top: 0
  right: ($single-column-width - $canvas-width)/2
  @extend .fa, .fa-times
  color: red
  text-decoration: none
  padding: 3px
  font-size: rem(40)
  width: rem(40)
  height: rem(40)
  z-index: 2
  opacity: 0
  transition: opacity 0.5s
  .canvas.dirty ~ &
    opacity: 1
