=when-two-columns
  +min-screen($double-column-width + 2*$outer-padding)
    @content

=left-column
  width: $single-column-width
  float: left
  margin: 0 0 $default-margin 0
  +when-two-columns
    margin-right: $divide

=right-column
  width: $single-column-width
  float: right
  margin: 0 0 $default-margin 0

*, *::before, *::after
  +box-sizing(border-box)

html
  overflow-y: scroll

.container
  padding: 0 $outer-padding
  position: relative
  margin: 0 auto
  width: $single-column-width + 2*$outer-padding
  +when-two-columns
    width: $double-column-width + 2*$outer-padding
