!!!
%html
  %head
    %title Detexify - Latex Classifier
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "/js/json2.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtex.js"}
    %script{:type => 'text/javascript', :src => "/js/canvassify.js"}
    %script{:type => 'text/javascript', :src => "/js/classify.js"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
  %body#classify
    #everything
      %h1 Eine Tafel zum klassifizieren...
      %p
        Oder geh
        %a{:href => '/train'} trainieren...
      
      #canvasarea
        %canvas#tafel{:width=>"400", :height=>"400"}
          \...aber du siehst sie nicht
        %a#clear{:href => '#'} L&ouml;schen
        #info
        #spinner
          /%img{:alt => 'Ajax spinner', :href => 'spinner.gif' }
          Untersuche...
      
      #hitarea
        %table.symbols
          %thead
            %tr
              %th Command
              %th Symbol
              %th Score
          %tbody#hitlist
      #info
        %p
          Welche
          %a{:href => '/symbols'} Symbole
          gibt es denn?    