!!!
%html
  %head
    %title Detexify - Latex Symbolerkennung
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "/js/json2.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtex.js"}
    %script{:type => 'text/javascript', :src => "/js/canvassify.js"}
    %script{:type => 'text/javascript', :src => "/js/classify.js"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
  %body#classify
    #everything
      %h1 Detexify - Eine Tafel, die Symbole erkennt...
      %p
        Oder
        %a{:href => '/train'} trainiert...
      
      #canvasarea
        %canvas#tafel{:width=>"400", :height=>"400"}
          \...aber du siehst sie nicht
        %a#clear{:href => '#'} L&ouml;schen
        #canvasinfo Fehler! Der Canvas tuts nicht.
        %span#spinner
          /%img{:alt => 'Ajax spinner', :href => 'spinner.gif' }
          Untersuche...
      
      #hitarea
        %table.symbols
          %thead
            %tr
              %th Command
              %th Symbol
              %th Score
          %tbody#hitlist
      #info
        :markdown
          ## Was ist das hier?
          
          Jeder, der mit LaTeX arbeitet, weiss, wie aufw&auml;ndig es sein kann in
          [symbols-a4.pdf](http://www.ctan.org/tex-archive/info/symbols/comprehensive/)
          nach einem Symbol zu suchen, das man sich einfach nicht merken kann. Diese Webapp
          soll diese Suche vereinfachen.
          
          ## Wie geht das?
          
          Male einfach das gesuchte Symbol mit der Maus oben in das Rechteck und schau, was passiert!
          
          ## Mein Symbol wird nicht gefunden!
          
          Das tut mir natürlich sehr leid. Entweder das Symbol ist nicht gut genug [trainert](/train)
          oder es ist noch gar nicht in der Liste der verfügbaren [Symbole](/symbols).
          
          ## Ich find das toll! Kann ich helfen?
          
          Ja. Du kannst dir etwas Zeit nehmen den Klassifizierer zu [trainieren](/train). Du kannst
          dir auch den [Sourcecode](http://github.com/danishkirel/detexify) ansehen und wenn du denkst
          etwas beitragen zu können, dann nur zu!
                    
          ## Wer steckt hinter Detexify?

          Die Idee stammt von Philipp K&uuml;hl und programmiert hat es
          [Daniel Kirsch](http://kirelabs.org).
          
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-8668142-2");
      pageTracker._trackPageview();
      } catch(err) {}
          
