!!!
%html
  %head
    %title Detexify - Latex Symbolerkennung
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtex.js"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    :javascript
      $(function(){
        mathtex.init();
      });
  %body#symbols
    #everything
      %h1 Detexify - Symboltabelle
      %p
        Symbole
        %a{:href => '/'} erkennen
        oder
        %a{:href => '/train'} trainieren...
      
      #info
        :markdown
          ## Was ist das hier?
          
          Dies ist die Liste der Symbole, die dem System bekannt sind. Diese Symbole können
          [trainiert](/train) und [erkannt](/) werden. Falls etwas Wichtiges fehlt, dann schreib doch
          bitte eine [Email](mailto:danishkirel@gmail.com)!
    
      %table.symbols
        %thead
          %tr
            %th Command
            %th Symbol
        %tbody
          - @tex.each do |tex|
            %tr
              %td.command
                %code.tex{:style => 'font-size:2em;'}= tex
              %td.symbol
                %img{:alt=>"tex:#{tex}"}
                
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-8668142-2");
      pageTracker._trackPageview();
      } catch(err) {}
