!!!
%html
  %head
    %title Detexify - Latex Classifier
    /%script{:src => "http://www.google.com/jsapi"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtran.js"}
    :javascript
      $(function(){
        mathtran.init();
      });
  %body
    %h1 Was gibts bisher so?
    %p
      Geh
      %a{:href => '/train'} trainieren
      oder geh
      %a{:href => '/'} klassifizieren...
    %ul
      - @tex.each do |tex|
        %li
          %code.tex{:style => 'font-size:2em;'}= tex
          \:
          %img{:alt=>"tex:#{tex}"}
