!!!
%html
  %head
    %title Detexify - Latex Symbolerkennung
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "/js/jquery.domec-1.0.0.js"}
    %script{:type => 'text/javascript', :src => "/js/json2.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtex.js"}
    %script{:type => 'text/javascript', :src => "/js/canvassify.js"}
    %script{:type => 'text/javascript', :src => "/js/train.js"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %style
      canvas { border: 1px solid black; }
      canvas#tafel { display: block }
  %body#train
    #everything
      %h1 Detexify - Eine Tafel, die <img alt="tex:\LaTeX" style="height:1.5em; margin-bottom:-.5em;">-Symbole trainiert...
      %p
        Oder
        %a{:href => '/'} erkennt...
      %h2
        %code#tex{:style => 'font-size:2em;'}= @tex
        %small= " (#{@samples} Muster)"
        \:
        %img{:alt=>"tex:#{@tex}"}
      
      #canvasarea
        %canvas#tafel{:width=>"400", :height=>"400"}
          \...aber du siehst sie nicht
        %a#trainpattern{:href => '#'} Trainieren
        %a#clear{:href => '#'} L&ouml;schen
        #canvasinfo Fehler! Der Canvas tuts nicht.
        
      #info
        :markdown
          ## Wieso trainieren?
          
          Diese Anwendung basiert auf maschinellem Lernen. Ohne einige Vergleichsmuster
          kann der Erkennungsalgorithmus keine Schlüsse ziehen und keine Treffer anbieten.
          Darum muss das System jedes [Symbol](/symbols) einige Male vorgesagt bekommen,
          damit es daraus ein
          Muster für [zukünftige Symbole](/) ableiten kann.
          
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-8668142-2");
      pageTracker._trackPageview();
      } catch(err) {}
          