!!!
%html
  %head
    %title Detexify - Latex Classifier
    /%script{:src => "http://www.google.com/jsapi"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "/js/jquery.domec-1.0.0.js"}
    %script{:type => 'text/javascript', :src => "/js/json2.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtex.js"}
    %script{:type => 'text/javascript', :src => "/js/canvassify.js"}
    %script{:type => 'text/javascript', :src => "/js/train.js"}
    %style
      canvas { border: 1px solid black; }
      canvas#tafel { display: block }
  %body
    %h1 Eine Tafel zum trainieren...
    %p
      Oder geh
      %a{:href => '/'} klassifizieren...
    %h2
      %code#tex{:style => 'font-size:2em;'}= @tex
      \:
      %img{:alt=>"tex:#{@tex}"}
    %canvas#tafel{:width=>"400", :height=>"400"}
      \...aber du siehst sie nicht
    %a#train{:href => '#'} Trainieren
    %a#clear{:href => '#'} L&ouml;schen
    #info
    %p
      Welche
      %a{:href => '/symbols'} Symbole
      gibt es denn?