/* ie6 trash */
* html #gritter-notice-wrapper {
	position:absolute; 
}
* html .gritter-top {
	margin-bottom:-10px;
}
* html .gritter-item {
	padding-bottom:0;
}
* html .gritter-close {
	background:url(../images/gritter-close-ie6.gif);
	width:22px;
	height:22px;
	top:7px;
	left:7px;
}

/* the norm */
#gritter-notice-wrapper {
	position:fixed;
	top:20px;
	right:20px;
	width:301px;
	z-index:9999;
}
.gritter-item-wrapper {
	position:relative;
}
.gritter-top {
	background:url(../images/gritter-top.png) no-repeat top left;
	height:10px;
}
.hover .gritter-top {
	background-image:url(../images/gritter-top-hover.png);
}
.gritter-bottom {
	background:url(../images/gritter-bottom.png) no-repeat bottom left;
	height:8px;
	margin: 0 0 12px 0;
}
.hover .gritter-bottom {
	background-image:url(../images/gritter-bottom-hover.png);
}
.gritter-item {
	display:block;
	background:url(../images/gritter-bg-tile.png);
	color:#eee;
	padding:2px 11px 8px 11px;
	font-size: 11px;
	font-family:verdana;
}
.gritter-item p {
	padding:0;
	margin:0;
}
.hover .gritter-item {
	background-image:url(../images/gritter-bg-tile-hover.png);
}
.gritter-close {
	position:absolute;
	top:5px;
	left:3px;
	background:url(../images/gritter-close.png);
	cursor:pointer;
	width:30px;
	height:30px;
}
.gritter-title {
	font-size:14px;
	font-weight:bold;
	padding:0 0 7px 0;
	display:block;
	text-shadow:1px 1px #000; /* Not supported by IE :( */
}
.gritter-image {
	width:48px;
	height:48px;
	float:left;
}
.gritter-with-image,
.gritter-without-image {
	padding:0 0 5px 0;
}
.gritter-with-image {
	width:220px;
	float:right;
}
