/* @override http://localhost:4567/css/style.css */

body, td {
	font-family: sans-serif;
}

code {
	font-size: 1.5em;
}

#everything {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

#hitarea {
	display: none;
	position: absolute;
	left: 460px;
	top: 80px;
}

canvas { border: 1px solid black; }
div#spinner { display: none; }
canvas#tafel { display: block; }

table.symbols {
	border-collapse: collapse;
}

table.symbols th {
	padding: .4em .5em;
	font-size: 1.5em;
	text-align: center;
}

table.symbols th:first-child {
	text-align: left;
}

table.symbols td.symbol,
table.symbols td.score
{ text-align: center; }

table.symbols td {
	padding: 1em;
	border-top: solid 1px #aaa;
}